<template>
  <div class="bar">
    <div class="title">
      <h1 style="color:black">My movie app</h1>
    </div>
    <navigation></navigation>
    <Nuxt />
  </div>
</template>

<script>
import Navigation from '../components/navbar.vue'
export default {
  components:{
    Navigation
  }
}
</script>

<style>

.title{
  text-align: center;
}

</style>
